# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# glew and sdl2 include files
*/dep/include/GL
*/dep/include/SDL2

# glew and sdl2 lib files
*/dep/lib

# the debug and release folder
*/Debug
*/Release
